/* Custom DatePicker styling for selected dates */
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__day--keyboard-selected {
  background-color: #FE6F4F !important;
  color: white !important;
  border-radius: 0.3rem;
}

.react-datepicker__day:hover {
  background-color: #747474 !important;
  color: white !important;
}
.react-datepicker__day--selected{
  background-color: #747474 !important;
  color: white !important;
}